@page "/"
@using Task2.Data
@using Task2.Models
@using Task2.Services.Abstractions
@inject IFeedService FeedService

<h1>@Test</h1>
<div class="container">
    @foreach (Feed feed in _feeds)
    {
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-body">
                    <h2 class="card-title">@feed.Title</h2>
                    <button type="button" class="btn btn-primary" @onclick="@(k => _collapseFeed[feed.FeedId] = !_collapseFeed[feed.FeedId])">Description @(_collapseFeed[feed.FeedId] ? "+" : "-")</button>
                    <div class="@(_collapseFeed[feed.FeedId] ? CollapseClass : NoCollapseClass) card-body">
                        @if (FeedReaderSettings.SupportFormatting)
                        {
                            <p>@((MarkupString)feed.Description))</p>
                        }
                        else
                        {
                            <p>@feed.Description</p>
                        }
                    </div>
                    <p>Publication Date : @feed.PublicationTime</p>
                    <a class="btn btn-secondary" href="@feed.SourceLink" target="_blank">View details</a>
                </div>
            </div>
        </div>
    }
</div>


@code
{
    private string Test = "Test";
    private int a = 0;
    private const string CollapseClass = "collapse";
    private const string NoCollapseClass = "";

    private Dictionary<Guid, bool> _collapseFeed;
    private List<Feed> _feeds;

    protected override void OnInitialized()
    {
        var source = FeedReaderSettings.Sources.Where(k => k.Active).Select(k => k.Link).ToList();
        _feeds = FeedService.GetFeeds(source);
        _collapseFeed = new Dictionary<Guid, bool>(_feeds.Select(k => new KeyValuePair<Guid, bool>(k.FeedId, true)));

        var startTimeSpan = TimeSpan.Zero;
        var periodTimeSpan = TimeSpan.FromSeconds(FeedReaderSettings.RefreshTime);

        var timer = new System.Threading.Timer(async e =>
        {
            _feeds = FeedService.GetFeeds(FeedReaderSettings.Sources.Where(k => k.Active).Select(k => k.Link));
            _collapseFeed = new Dictionary<Guid, bool>(_feeds.Select(k => new KeyValuePair<Guid, bool>(k.FeedId, true)));
            Test = $"Updated {a}";
            a++;

            await InvokeAsync(() =>
            {
                base.StateHasChanged();
            });

        }, null, startTimeSpan, periodTimeSpan);
    }
}