@page "/"
@using Task2.Data
@inject FeedService FeedService
@inject FeedReaderSettings ReaderSettings

<div class="container">
    @foreach (Feed feed in _feeds)
    {
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-body">
                    <h2 class="card-title">@feed.Title</h2>
                    <button type="button" class="btn btn-primary" @onclick="k => this.Collapse = !this.Collapse">Description @(Collapse ? "+" : "-")</button>
                    <div class="@(Collapse ? "collapse" : "") card-body">
                        @if (ReaderSettings.SupportFormatting)
                        {
                            <p>@((MarkupString)feed.Description))</p>
                        }
                        else
                        {
                            <p>@feed.Description</p>
                        }
                    </div>
                    <p>Publication Date : @feed.PublicationTime</p>
                    <a class="btn btn-secondary" href="@feed.SourceLink" target="_blank">View details</a>
                </div>
            </div>
        </div>
    }
</div>


@code
                            {
    private bool Collapse = true;
    private List<Feed> _feeds;

    protected override void OnInitialized()
    {
        List<string> source = ReaderSettings.SourceLinks;
        _feeds = FeedService.GetFeeds(source);
    }

}