@page "/settings"
@using System.Collections.ObjectModel
@using MatBlazor
@using Task2.Data
@using Microsoft.AspNetCore.Components
@using Task2.Models
@using Task2.Services
@using Task2.Services.Abstractions
@inject IFeedService FeedService
@inject ISettingsService SettingsService
<h3>Settings</h3>

<MatAccordion>
    <MatExpansionPanel @bind-Expanded="@_sourceSettings">
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Source settings</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <MatAccordion>
                            <MatExpansionPanel @bind-Expanded="@_approvedLinksSettings">
                                <MatExpansionPanelSummary>
                                    <MatExpansionPanelHeader>Rss source links</MatExpansionPanelHeader>
                                </MatExpansionPanelSummary>
                                @foreach (RssSource source in FeedReaderSettings.Sources)
                                {
                                    <MatExpansionPanelDetails>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <p>
                                                        @source.Link
                                                    </p>
                                                </div>
                                                <div class="col-md-2">
                                                    <MatButton OnClick="@(() => ClickRemove(source.Link))" TrailingIcon="delete"></MatButton>
                                                </div>
                                                <div class="col-md-2">
                                                    <MatButton OnClick="@(() => ClickActive(source.Link))" TrailingIcon="@(source.Active ? "check_box" : "check_box_outline_blank")"></MatButton>
                                                </div>
                                            </div>
                                        </div>
                                    </MatExpansionPanelDetails>
                                }
                            </MatExpansionPanel>
                        </MatAccordion>
                    </div>
                    <div class="col-md-4">
                        <MatAccordion>
                            <MatExpansionPanel @bind-Expanded="@_addLinkSettings">
                                <MatExpansionPanelSummary>
                                    <MatExpansionPanelHeader>Add source link</MatExpansionPanelHeader>
                                </MatExpansionPanelSummary>
                                <MatExpansionPanelDetails>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <MatStringField @bind-Value="@_newLink" Label="@_newLinkLabel"></MatStringField>
                                            </div>
                                            <div class="col-md-4">
                                                <MatButton OnClick="@ClickAdd" TrailingIcon="add"></MatButton>
                                            </div>
                                        </div>
                                    </div>
                                </MatExpansionPanelDetails>
                            </MatExpansionPanel>
                        </MatAccordion>
                    </div>
                </div>
            </div>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Formatting settings</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <div>
                <MatCheckbox @bind-Value="@FeedReaderSettings.SupportFormatting" Label="@(FeedReaderSettings.SupportFormatting ? "Formatting" : "No formatting")"></MatCheckbox>
            </div>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Auto update settings</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <div>
                <MatTextField @bind-Value="@FeedReaderSettings.RefreshTime" Label="Update time seconds"></MatTextField>
            </div>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
</MatAccordion>

@code
{
    private bool _sourceSettings = false;
    private bool _approvedLinksSettings = false;
    private bool _addLinkSettings = false;
    private string _newLink;
    private string _newLinkLabel = "Link";

    private void ClickRemove(string item)
    {
        SettingsService.RemoveSource(item);
    }

    private void ClickActive(string item)
    {
        SettingsService.ChangeSourceActivity(item);
    }

    private void ClickAdd()
    {
        RssSource addedSource = SettingsService.AddNewLink(_newLink);

        if (addedSource == null)
        {
            _newLinkLabel = "Invalid link";
            return;
        }

        _newLinkLabel = "Ok";
    }

}

